* {
    margin: 0;
    padding: 0;
}

header {
    margin: auto;
    text-align: center;
    display: flex;
    padding: 10px 40px;
    height: 80px;
    align-items: center;
    justify-content: space-between;
    background-color: #0E0E55;
    color: #fff;
}

nav {
    display: flex;
    align-items: center;
}

.logo {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

header ul {
    display: flex;
    list-style-type: none;
    gap: 80px;
}

header a {
    text-decoration: none;
    color: #fff;
}

header a:hover {
    text-decoration: underline;
}

.login {
    padding: 10px 24px;
    border: 2px solid #fff;
    border-radius: 7px;
    transition: color 0.3s ease;
}

.login:hover {
    background-color: #fff;
    color: #0E0E55;
}

/* Hero */

.hero {
    width: 100%;
    max-width: 800px;
    margin: 60px auto;
    text-align: center;
}

.hero h1 {
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 40px;
    color: #0E0E55;
}

.hero p {
    margin-bottom: 40px;
}

.hero button {
    padding: 12px 24px;
    background-color: transparent;
    border: 2px solid #0E0E55;
    color: #0E0E55;
    border-radius: 7px;
    transition: color 0.3s ease;
    cursor: pointer;
}

.hero button:hover {
    background-color: #0E0E55;
    color: #fff;
}

/* cards */

.categoria {
    width: 100%;
    max-width: 1000px;
    margin: 40px auto;
}

.categoria h2 {
    font-size: 24px;
    color: #0E0E55;
    margin-bottom: 20px;
}

.cardsContainer {
    display: flex;
    gap: 40px;
    justify-content: center;
}

.card {
    width: 220px;
    background-color: #eee;
    border-radius: 6px;
    overflow: hidden;
    padding-bottom: 15px;
}

.card-img {
    width: 100%;
    height: 180px;
    background-color: #d5d5d5;
}

.card-info {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 0 10px;
    font-weight: bold;
}

.comprar {
    width: 100%;
    cursor: pointer;
    margin-top: 10px;
    padding: 12px;
    background-color: #d5d5d5;
    border: none;
    cursor: pointer;
    font-weight: bold;
}